body{
	font-size: 80%;
	text-align: center;
	font-family: "MS UI Gothic",sans-serif;
	padding:0;
	margin: 0;
	background: black;
}

#wrapper{
	text-align: left;
	width: 700px;
	margin: 1em auto 0;
	border: 1px solid #0099cc;
}

#header{
	height: 100px;
	background-color: #0099cc;
	color: #ffffff;
}

#loginInfo{
    color: #ffffff;
    text-align: right;
    width: 100%;
}

h1{padding: 0.5em;}

.deleteButton{
	text-align: right;
}

#postName{
	text-align: right;
}

#postDate{
	text-align: right;
}

#commentName{
	text-align: right;
}

#commentDate{
	text-align: right;
}

#commentText{
	word-wrap: break-word;
}

#postTitle{
	font-size: 200%;
}

#postText{
	padding:10px;
}

#search{
	display: table;
    text-align: right;
    width: 100%;
    padding: 10px 0px;
}

#search form{
    padding: 10px 0px;
}

#users table{
	display: table;
	text-align: center;
	width: 96%;
	margin: 5px;
    padding-top: 50px;
}

#users th{
	text-align: center;
	border: 1px solid #0099cc;
}

#users td{
	text-align: center;
	border: 1px solid #0099cc;
}

#editButton{
	margin-left:-20px;
	margin-right:20px;
}

#lockButton{
	margin-left:20px;
	margin-right:-20px;
}

#posts{
	display: block;
	text-align: left;
	width: 96%;
	margin: 5px;
	padding: 5px;
	color: white;
}
/*
#post{
	display: block;
	text-align: left;
	border: 1px solid #0099cc;
	width: 96%;
	margin: 5px;
	padding: 5px;
}
*/
#comments{
	display: block;
	text-align: left;
	border: 1px solid #0099cc;
	width: 94%;
	margin: 5px;
	padding: 5px;
}

#comment{
	display: block;
	text-align: left;
	border: 1px solid #0099cc;
	width: 80%;
	margin: 5px;
	padding: 5px;
}

#toCal{
	display: initial;
}

#fromCal{
	display: initial;
}

#menu{
    margin-top: -11px;
    padding-top: 0px;
}

#menu a{
  text-align: center;
  display:block;
  padding: 0.5em 0;
  margin-top: 6px;
  width: 100%;
  background-color: black;
  color: white;
}

#menu a:hover{
  background-color: red;
  color: white;
}

#menu div{
	float: left;
	width: 120px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu div#logout{
	  float: right;
}
/*
#form{
	display: table;
	text-align: left;
	width: 100%;
	margin: 0px;
	padding: 10px 0px;
}

*/
#form div{
	display: flex;
    padding: 2px;
}

#button{
	text-align: right;
}

#form label{
	color:white;
	padding: 5px;
	width:95px;
	border: 1px solid #0099cc;
}

#count{
	display:flex;
}

#count table{
	margin: 0px 10px;
	border: 1px solid #0099cc;
	width: 150px;
}

#count td{
	border: 1px solid #0099cc;
}

#count thead{
	text-align:center;
}


.error{
	font-size: 120%;
	text-align: center;
	color: red;
    font-weight: bold;
}

#allPosts{
    text-align: right;
    padding-right: 30px;
}

/* 黒板風　タイトル　2 */
.kokuban-t2 {
	position: relative;
	margin: 2em auto;
	padding: 3.2em 1em 1em;
	width: 90%; /* ボックス幅 */
	background-color: #006633; /* ボックス背景色 */
	color: #fff; /* 文章色 */
	border: 8px solid #b2771f; /* 枠線 */
	border-radius: 3px; /* 角の丸み */
	box-shadow: 0 0 5px #333, 0 0 5px #555 inset;
}

.kokuban-t2::before,
.kokuban-t2::after {
	position: absolute;
	content: '';
	bottom: 0;
}

.kokuban-t2::before {
	right: 10px;
	border: solid 3px #fff; /*チョーク（白）*/
	width: 20px;
	border-radius: 3px 2px 0 2px;
}

.kokuban-t2::after {
	right: 40px;
	border: solid 3px #ffff6b; /*チョーク（黄色）*/
	width: 15px;
	border-radius: 8px 5px 2px 5px;
}

.title-t2 {
	left: 1em;
	top: .5em;
	font-weight: bold;
	font-size: 1.1em;
	color: #ffff6b; /* タイトル色 */
}

textarea {
	background-color: #006633; /* ボックス背景色 */
	color: #fff; /* 文章色 */
}