<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs.mapper.PostsMapper">
    <resultMap id="postsResult" type="bbs.entity.Posts">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="text" property="text" />
        <result column="category" property="category" />
        <result column="branch_id" property="branchId" />
        <result column="department_id" property="departmentId" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
        <result column="created_date" property="createdDate" />
        <result column="updated_date" property="updatedDate" />
        <collection property="comments" ofType="bbs.entity.Comments">
			<id column="comment_id" property="id"/>
			<result column="comment_text" property="text" />
			<result column="post_id" property="postId" />
			<result column="comment_branch_id" property="branchId" />
			<result column="comment_department_id" property="departmentId" />
			<result column="comment_user_id" property="userId" />
			<result column="comment_user_name" property="userName" />
			<result column="comment_created_date" property="createdDate" />
			<result column="comment_updated_date" property="updatedDate" />
        </collection>
    </resultMap>
    <resultMap id="postResult" type="bbs.dto.PostsDto">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="text" property="text" />
        <result column="category" property="category" />
        <result column="branch_id" property="branchId" />
        <result column="department_id" property="departmentId" />
        <result column="user_id" property="userId" />
        <result column="user_name" property="userName" />
    </resultMap>
    <select id="getPostList" resultMap="postsResult" parameterType="String">
		select
		 p.id
		,p.title
		,p.text
		,p.category
		,p.branch_id
		,p.department_id
		,p.user_id
		,p.user_name
		,p.created_date
		,p.updated_date
		,c.id as comment_id
		,c.text as comment_text
		,c.post_id
		,c.branch_id as comment_branch_id
		,c.department_id as comment_department_id
		,c.user_id as comment_user_id
		,c.user_name as comment_user_name
		,c.created_date as comment_created_date
		,c.updated_date as comment_updated_date
		from view_posts p left join view_comments c on p.id = c.post_id
		<where>
			<if test="category != '' and category != null">
				p.category = #{category}
			</if>
			<if test="(toDate != null and toDate != '') and (fromDate != null and fromDate != '')">
				AND p.updated_date between #{toDate} and #{fromDate}
			</if>
			<if test="toDate != null and toDate != ''">
				<![CDATA[
				AND p.updated_date <= #{toDate}
				]]>
			</if>
			<if test="fromDate != null and fromDate != ''">
				<![CDATA[
				AND p.updated_date >= #{fromDate}
				]]>
			</if>
		</where>
		order by id desc ,comment_id asc;
    </select>
    <resultMap id="categoriesResults" type="String">
        <result column="category" property="categories" />
    </resultMap>
    <select id="getCategories" resultMap="categoriesResults">
		SELECT DISTINCT category FROM posts ORDER BY id
    </select>
	<insert id="addPost" parameterType="bbs.dto.PostsDto">
		INSERT INTO posts(
		 title
		,text
		,category
		,user_id
		,created_date
		,updated_date
		) VALUES (
		 #{title}
		,#{text}
		,#{category}
		,#{userId}
		,CURRENT_TIMESTAMP
		,CURRENT_TIMESTAMP
		)
	</insert>
	<delete id="deletePost" parameterType="bbs.dto.PostsDto">
		DELETE FROM posts
		WHERE id = #{id}
	</delete>
	<update id="editPost" parameterType="bbs.dto.PostsDto">
		UPDATE posts 
		SET 
		 title = #{title}
		 ,text = #{text}
		 ,category = #{category}
		 ,updated_date = CURRENT_TIMESTAMP
		WHERE id = #{id}
	</update>
	<select id="getPost" parameterType="bbs.dto.PostsDto" resultMap="postResult">
		SELECT
		  id
		 ,title
		 ,text
		 ,category
		FROM posts
		WHERE id = #{id}
	</select>
</mapper>

