<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs.mapper.UsersMapper">
    <resultMap id="loginResult" type="bbs.entity.Users">
    	<id column="user_id" property="id" />
        <result column="login_id" property="loginId" />
        <result column="password" property="password" />
        <result column="user_name" property="name" />
        <result column="branch_id" property="branchId" />
        <result column="branch_name" property="branchName" />
        <result column="department_id" property="departmentId" />
        <result column="department_name" property="departmentName" />
        <result column="is_locked" property="isLocked" />
        <result column="updated_date" property="updatedDate" />
    </resultMap>

    <select id="loginBBS" resultMap="loginResult" parameterType="bbs.form.LoginForm">
		SELECT *
		FROM view_users
		WHERE login_id = #{loginId}
		AND password = '${password}';
    </select>

    <resultMap id="usersResult" type="bbs.entity.Users">
      <id column="user_id" property="id" />
      <result column="user_name" property="name" />
      <result column="loginId" property="loginId" />
      <result column="password" property="password" />
      <result column="branch_name" property="branchName" />
      <result column="department_name" property="departmentName" />
      <result column="is_locked" property="isLocked" />
      <result column="created_date" property="createdDate" />
      <result column="updated_date" property="updatedDate" />
  </resultMap>
  <select id="getUsers" resultMap="usersResult" parameterType="String">
		SELECT
      *
    FROM view_users
		<where>
			<if test="id != '' and id != null">
				user_id LIKE #{id}
			</if>
			<if test="name != null and name != '' ">
				AND user_name LIKE %#{name}%
			</if>
			<if test="branchName != null and branchName != '' ">
				AND branch_name LIKE #{branchName}
			</if>
			<if test="departmentName != null and departmentName != '' ">
				AND department_name LIKE #{departmentName}
			</if>
		</where>
		order by user_id;
    </select>
    <resultMap id="departmentsResults" type="String">
      <result column="name" property="departments" />
    </resultMap>
    <select id="getDepartments" resultMap="departmentsResults">
    SELECT DISTINCT name FROM departments ORDER BY id
    </select>
    <resultMap id="branchesResults" type="String">
      <result column="name" property="branches" />
    </resultMap>
    <select id="getBranches" resultMap="branchesResults">
    SELECT DISTINCT name FROM branches ORDER BY id
    </select>
    
    <insert id="addUser" parameterType="bbs.dto.UsersDto">
      INSERT INTO users(
        title
      ,text
      ,category
      ,user_id
      ,created_date
      ,updated_date
      ) VALUES (
        #{title}
      ,#{text}
      ,#{category}
      ,#{userId}
      ,CURRENT_TIMESTAMP
      ,CURRENT_TIMESTAMP
      )
    </insert>
    <delete id="deleteUser" parameterType="bbs.dto.UsersDto">
      DELETE FROM users
      WHERE id = #{id}
    </delete>
    <update id="editUser" parameterType="bbs.dto.UsersDto">
      UPDATE users 
      SET 
        title = #{title}
        ,text = #{text}
        ,category = #{category}
        ,updated_date = CURRENT_TIMESTAMP
      WHERE id = #{id}
    </update>
</mapper>